@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background-light: #ffffff;
  --color-background-dark: #0f172a;
  --color-text-light: #0f172a;
  --color-text-dark: #f1f5f9;
}
